.container {
  max-width: 1000px;
  margin-top: 100px;
  padding: 50px 100px 50px;
  border: solid black 7px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px black;
}

header {
  padding-bottom: 30px;
  text-align: right;
}

h1 {
  text-align: center;
  padding-bottom: 40px;
  transition: auto 300ms;
}

ul {
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}

#weather-conditions {
  text-transform: capitalize;
}

h2 {
  padding-bottom: none;
  text-align: center;
}

h5 {
  font-size: 30px;
  padding-bottom: 10px;
}

.today-weather-forecast a {
  text-decoration: none;
  font-size: 14px;
  position: relative;
  top: -16px;
  left: 12px;
}

.row-one {
  padding-bottom: 0px;
  margin-bottom: 0;
}

.card {
  margin-top: 5px;
}

.col {
  padding-top: 0;
  margin-top: 0;
}
#today-weather {
  font-size: 35px;
  position: relative;
  left: 15px;
}

.col-3.today-weather-location {
  border-right: solid 5px grey;
}

.col-3.today-weather-forecast {
  border-right: solid 5px grey;
}
.col-3 .weather-near-me {
  border-right: solid 5px grey;
}

.active {
  text-decoration: none;
  color: black;
}

.active:hover {
  cursor: default;
  color: black;
}

.card-text.five-day-forecast {
  position: relative;
  top: 6px;
  padding-bottom: 20px;
}
#local-weather-button {
  text-align: center;
}

.card {
  text-align: center;
  margin-top: 30px;
}

.card:hover {
  background-color: #7fa4e8;
}
.fa-solid {
  font-size: 38px;
}

p {
  font-size: 20px;
  padding-top: 20px;
}

.row-three {
  margin: 50px 0 10px;
}

.units {
  margin: 10px 0;
}

.search-bar-city {
  margin-top: 50px;
}

.small-text {
  font-size: 28px;
  font-weight: 500;
}

.search-form {
  max-width: 600px;
  display: block;
  margin: 50px auto 0;
}

.btn {
  background-color: white;
  border: solid 1px #ced4da;
  padding: 10px;
  color: black;
  line-height: 1;
}

.btn:hover {
  background-color: #7fa4e8;
  border: solid 1px #7fa4e8;
  color: white;
}

#local {
  margin-top: 10px;
  font-weight: 400;
  width: 100%;
}

.container.footnote {
  border: none;
  box-shadow: none;
  text-align: left;
  padding: 0;
  margin-top: 20px;
}

h5 {
  font-size: 18px;
}
